Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data organized and stored in a way that allows efficient retrieval and management of data. Databases are widely used in various applications to store and manage large volumes of information.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems with distinct characteristics:

SQL Databases:
SQL databases are relational databases, where data is organized into tables with rows and columns.
They use the Structured Query Language (SQL) for defining, manipulating, and querying data.
SQL databases enforce a predefined schema, which means the structure of the data must be defined before inserting data.
They provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transaction management.
Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, etc.

NoSQL Databases:
NoSQL databases are non-relational databases that provide flexible schema design, allowing data to be stored in various formats like key-value pairs, documents, graphs, or column-family.
They do not use SQL for querying; instead, they offer APIs or query languages specific to their data model.
NoSQL databases are horizontally scalable, making them suitable for handling large volumes of data and distributed environments.
They provide BASE (Basically Available, Soft state, Eventually consistent) properties, prioritizing availability and scalability over strict consistency.
Examples of NoSQL databases include MongoDB (document store), Redis (key-value store), Cassandra (column-family store), Neo4j (graph store), etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of the database, such as creating, modifying, and deleting database objects. DDL statements are used to manage the schema and overall structure of the database.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.
Example: Creating a new table called "employees" with columns "id," "name," and "salary."

DROP:
The DROP statement is used to remove existing database objects, such as tables, indexes, or views.
Example: Dropping the previously created "employees" table.

ALTER:
The ALTER statement is used to modify the structure of existing database objects, such as adding or removing columns from a table.
Example: Adding a new column "department" to the "employees" table.

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table but keeps the table structure intact.
Unlike the DROP statement, TRUNCATE allows you to keep the table for further use but removes all the data.
Example: Truncating the "employees" table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in the database. DML statements allow you to insert, update, and delete data from the database tables.

INSERT:
The INSERT statement is used to add new records (rows) into a database table.
Example: Inserting a new employee record into the "employees" table.
    
UPDATE:
The UPDATE statement is used to modify existing records (rows) in a database table.
Example: Updating the salary of an employee with id 1 in the "employees" table.
    
UPDATE:
The UPDATE statement is used to modify existing records (rows) in a database table.
Example: Updating the salary of an employee with id 1 in the "employees" table.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements allow you to query and fetch specific data from one or more database tables.

The SELECT statement allows us to access and retrieve specific data from the database, providing great flexibility in working with the data stored in the tables.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A Primary Key is a unique identifier for each row (record) in a table.
It uniquely identifies a record and ensures that there are no duplicate values for the key within the table.
Every table in a relational database should have a Primary Key because it helps in efficient data retrieval and indexing.
A Primary Key can be a single column or a combination of columns (composite key) that collectively form a unique identifier.
Examples: 'id' in an "employees" table, 'roll_number' in a "students" table

Foreign Key:
A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.
It establishes a link between two tables and helps maintain referential integrity in the database.
A Foreign Key enforces the relationship between tables, ensuring that values in the referencing column(s) must exist in the referenced table's Primary Key column.
It is used to create relationships and associations between related data in different tables.
Examples: 'department_id' in an "employees" table referring to the Primary Key 'id' in a "departments" table

 Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

 Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

 Create a cursor object
cursor = connection.cursor()

 Execute a SQL query
cursor.execute("SELECT * FROM your_table")

 Fetch all rows from the result set
results = cursor.fetchall()

 Print the results
for row in results:
    print(row)

Close the cursor and the connection
cursor.close()
connection.close()



cursor() method:
The cursor() method creates a cursor object that allows us to interact with the database.
The cursor is a control structure used to traverse and fetch the records in the result set returned by a query.
We use the cursor to execute SQL statements and fetch data from the result set.
In the example above, we created a cursor object using 'cursor = connection.cursor()'.

execute() method:
The execute() method is used to execute SQL queries or statements on the database using the cursor object.
It takes the SQL query as an argument and sends it to the database for execution.
After executing the query, the result set (if any) is available for processing.
In the example above, we executed the SQL query "SELECT * FROM your_table" using cursor.execute().

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

SELECT: The SELECT clause is the first to be executed. It specifies the columns you want to retrieve from the database.

FROM: The FROM clause is executed next. It specifies the table(s) from which the data will be retrieved.

WHERE: The WHERE clause is executed after the FROM clause. It filters the data based on specified conditions.

GROUP BY: The GROUP BY clause is executed next. It groups the data based on specified columns.

HAVING: The HAVING clause is executed after the GROUP BY clause. It filters the grouped data based on specified conditions.

ORDER BY: The ORDER BY clause is executed next. It sorts the result set based on specified columns and sort orders (ascending or descending).

LIMIT / OFFSET: The LIMIT and OFFSET clauses are executed last. They are used to limit the number of rows returned and provide pagination functionality.