In [4]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
df = pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it."""

lst = [x for x in range(10)]
df = pd.Series(lst)
print(df)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [17]:
# Q3. Create a Pandas DataFrame that contains the following data:
data = {
'Name' : ["Alice","Bob","Claire"],
'Age' : [25,30,27],
'Gender' : ["Female","Male","Female"]
}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional labeled data structure that resembles a table, where each column can have a different data type. It is one of the fundamental data structures provided by the Pandas library, and it allows us to store and manipulate data in a tabular form. A DataFrame can be thought of as a collection of Pandas Series, where each Series represents a column of the DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It can be considered as a single column of data with an associated label, called the index.

Difference between DataFrame and Pandas Series:

Dimensionality: A DataFrame is a two-dimensional structure with both rows and columns, while a Pandas Series is a one-dimensional structure representing a single column or data array.

Data Representation: In a DataFrame, we have multiple columns, and each column can have a different data type. In a Pandas Series, we have a single column with a consistent data type.

Indexing: DataFrames have both row and column indices, while Series have only a single index (row index).

Operations: Many operations that we can perform on a DataFrame can also be applied to a Series, but DataFrame operations often involve manipulating entire columns or rows, whereas Series operations are more focused on the data within a single column.

In [18]:
# Example

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22]
}
df = pd.DataFrame(data)

# Creating a Pandas Series
ages = pd.Series([25, 30, 22], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

Series:
0    25
1    30
2    22
Name: Age, dtype: int64

"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?"""

Pandas provides a wide range of functions to manipulate data within a DataFrame. Here are some common functions you can use to manipulate data in a Pandas DataFrame, along with examples:

head() and tail(): These functions allow us to view the first few rows (head()) or the last few rows (tail()) of the DataFrame.

describe(): This function provides summary statistics of numeric columns in the DataFrame, such as mean, standard deviation, minimum, maximum, etc.

sort_values(): This function allows us to sort the DataFrame by one or more columns.

groupby(): This function is used for grouping data based on one or more columns and applying aggregate functions.

filter(): This function is used to filter rows based on a condition

apply(): This function applies a function to each element or column of the DataFrame

drop(): This function is used to remove rows or columns from the DataFrame.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A mutable object is one that can be modified after its creation. In the case of a DataFrame, we can add, remove, or modify columns and rows, change data values, and perform various other operations that alter its structure and content. This mutability is a fundamental feature of DataFrames in Pandas and makes them versatile for data manipulation tasks.

On the other hand, both Series and Panel are immutable in nature. Once they are created, their content cannot be modified directly. Instead, if we want to make changes, we usually create new instances of Series or Panel with the desired modifications.

In [ ]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.