## Question 1: List any five functions of the pandas library with execution.
---

## Answer :

### Reading a Dataframe first

In [1]:
import pandas as pd

data = {
    'Employee_id': [101, 102, 103, 104, 105],
    'Name': ['Utkarsh', 'Seema', 'Aditi', 'Nitin', 'Sudhanshu'],
    'Designation': ['Developer', 'Architect', 'QA (Tester)', 'Operations', 'Manager']
}

df = pd.DataFrame(data)
print(df)

   Employee_id       Name  Designation
0          101    Utkarsh    Developer
1          102      Seema    Architect
2          103      Aditi  QA (Tester)
3          104      Nitin   Operations
4          105  Sudhanshu      Manager

### 1. describe() function - This function is used to generate descriptive statistics for a DataFrame, such as count, mean, standard deviation, minimum, and maximum.

In [2]:
# Using .T to transpose the dataset below for better understanding
df.describe().T

             count   mean       std    min    25%    50%    75%    max
Employee_id    5.0  103.0  1.581139  101.0  102.0  103.0  104.0  105.0

### 2. nunique() - This function in Pandas is used to get a count of unique values for each column in a DataFrame. It returns a Pandas Series containing the number of unique values for each column in the DataFrame.

In [3]:
df.nunique()

Employee_id    5
Name           5
Designation    5
dtype: int64

### 3. info(): This function is used to print a summary of a DataFrame, including information about the data types, number of non-null values, and memory usage.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_id  5 non-null      int64
 1   Name         5 non-null      object
 2   Designation  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

### 4. groupby(): The groupby() function is used to group a DataFrame by one or more columns, and apply an aggregate function to each group. It returns a DataFrameGroupBy object that can be used to apply various functions to each group.

### 5. pivot_table(): The pivot_table() function is used to create a spreadsheet-style pivot table based on a DataFrame. It takes values from one or more columns of the DataFrame, groups the data by one or more columns, and calculates an aggregate function for each group.

## Question 2: Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
---

## Answer:

In [7]:
# Creating a custom function for generating the dataframe as mentioned above
def reindex_dataframe(df):
    new_index = range(1, len(df)+1, 2) # create new index starting from 1 and incrementing by 2
    df = df.reindex(new_index) # re-index the DataFrame with the new index
    return df

In [8]:
# create sample DataFrame
df = pd.DataFrame({'A': ['X', 'Y', 'Z', 'A','B','C'], 'B': [True, False,True, True, True, False], 'C': [1, 2, 3, 4, 5, 6]})

# Showing orignal DataFrame
df

   A      B  C
0  X   True  1
1  Y  False  2
2  Z   True  3
3  A   True  4
4  B   True  5
5  C  False  6

In [9]:
# re-index the DataFrame
df_reindexed = reindex_dataframe(df)

# print the re-indexed DataFrame
df_reindexed

   A      B  C
1  Y  False  2
3  A   True  4
5  C  False  6

## Question 3: You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.
---

## Answer:

In [24]:
def sum_first_three_values(df):
    values = df['Values'].values # get the 'Values' column as a NumPy array
    sum_of_first_three = sum(values[:3]) # calculate the sum of the first three values
    print(f"The sum of the first three values is {sum_of_first_three}")

In [25]:
# create sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Show dataFrame
df

   Values
0      10
1      20
2      30
3      40
4      50

In [26]:
sum_first_three_values(df)

The sum of the first three values is 60

## Question 4: Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
---

## Answer:

In [27]:
import pandas as pd

def add_word_count_column(df):
    # define a function to count the number of words in a string
    def count_words(text):
        return len(text.split())

    # apply the count_words function to the 'Text' column of the DataFrame
    df['Word_Count'] = df['Text'].apply(count_words)

    # return the updated DataFrame
    return df

In [28]:
# create sample DataFrame
df = pd.DataFrame({'Text': ['This is a sentence.', 'Here is another sentence with more words.']})
df

                                        Text
0                        This is a sentence.
1  Here is another sentence with more words.

In [29]:
add_word_count_column(df)

                                        Text  Word_Count
0                        This is a sentence.           4
1  Here is another sentence with more words.           7

## Question 5: How are DataFrame.size() and DataFrame.shape() different?
---

## Answer:

### Both DataFrame.size and DataFrame.shape are attributes of a Pandas DataFrame, but they return different values.

### 1. DataFrame.size returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. It is equivalent to the size of the underlying NumPy array.

### 2. DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame, respectively. It is a convenient way to check the dimensions of the DataFrame.

### Here's an example that demonstrates the difference between DataFrame.size and DataFrame.shape:

In [30]:
# create a sample DataFrame with 2 rows and 3 columns
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})

# print the size and shape of the DataFrame
print("DataFrame size:", df.size)
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (2, 3)

## Question 6: Which function of pandas do we use to read an excel file?
---

## Answer: 

### To read an Excel file in Pandas, we can use the read_excel() function. This function is part of the Pandas IO tools and can read data from Excel files with various extensions like .xlsx, .xls, and .xlsm.

In [32]:
# read data from an Excel file
df = pd.read_excel('example.xlsx')
df

   Employee_id       Name  Designation
0          101    Utkarsh    Developer
1          102      Seema    Architect
2          103      Aditi  QA (Tester)
3          104      Nitin   Operations
4          105  Sudhanshu      Manager

## Question 7 : You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

## The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.
---

## Answer:

In [37]:
def add_username_column(df):
    # Define a function that splits the string at @ character and returns first string i.e. Username
    def username_individual(email):
        return email.split('@')[0]
    
    # apply the username_individual function to the 'email' column of the DataFrame
    df['Username'] = df['email'].apply(username_individual)

    return df

In [40]:
# Example DataFrame 
df = pd.DataFrame({'email':['utkarsh@gmail.com','aditi1@test.in','krunal102@apple.com','kritika.pandey@rediffmail.com','ananya.more3@sample.com']})
df

                           email
0              utkarsh@gmail.com
1                 aditi1@test.in
2            krunal102@apple.com
3  kritika.pandey@rediffmail.com
4        ananya.more3@sample.com

In [41]:
add_username_column(df)

                           email        Username
0              utkarsh@gmail.com         utkarsh
1                 aditi1@test.in          aditi1
2            krunal102@apple.com       krunal102
3  kritika.pandey@rediffmail.com  kritika.pandey
4        ananya.more3@sample.com    ananya.more3

## Question 8: You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Thefunction should return a new DataFrame that contains only the selected rows.

## For example, if df contains the following values:

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|0    |3    |5    |1    |
|1    |8    |2    |7    |
|2    |6    |9    |4    |
|3    |2    |3    |5    |
|4    |9    |1    |2    |

## Your function should select the following rows

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|1    |8    |2    |7    |
|4    |9    |1    |2    |

---

## Answer :

In [63]:
def select_rows(df):
    # create a boolean mask for rows where 'A' > 5 and 'B' < 10
    mask = (df['A'] > 5) & (df['B'] < 10)
    
    df_new = df[mask].copy()
    # return a new DataFrame with only the selected rows
    return df_new

In [64]:
# Creating the example DataFrame
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [65]:
df_new = select_rows(df)
df_new

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Please Note that row 2 also satisfies the condition hence the function is selecting it

## Question 9 : Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.
---

## Answer:

In [47]:
def calculate_stats(df):
    # calculate the mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    return mean, median, std_dev

In [50]:
df = pd.DataFrame({'Values': [11, 18, 36, 45, 67]})
df

   Values
0      11
1      18
2      36
3      45
4      67

In [52]:
mean, median , stdev = calculate_stats(df)
print(f'Mean of Values is : {mean}')
print(f'Median of Values is : {median}')
print(f'Standard Deviation of Values is : {round(stdev,4)}')

Mean of Values is : 35.4
Median of Values is : 36.0
Standard Deviation of Values is : 22.3002

## Question 10 : Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day
---

## Answer :

In [53]:
import pandas as pd

def calculate_moving_average(df):
    # sort the DataFrame by date
    df = df.sort_values(by='Date')

    # calculate the moving average using a rolling window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

In [61]:
df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12'],
    'Sales': [11, 15, 35, 41, 42, 64, 72, 51, 65, 81, 95, 111]
})

df = calculate_moving_average(df)

In [62]:
df_new = calculate_moving_average(df)
df_new

          Date  Sales  MovingAverage
0   2022-01-01     11      11.000000
1   2022-01-02     15      13.000000
2   2022-01-03     35      20.333333
3   2022-01-04     41      25.500000
4   2022-01-05     42      28.800000
5   2022-01-06     64      34.666667
6   2022-01-07     72      40.000000
7   2022-01-08     51      45.714286
8   2022-01-09     65      52.857143
9   2022-01-10     81      59.428571
10  2022-01-11     95      67.142857
11  2022-01-12    111      77.000000

## Question 11: You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.

|     |Date      |
|:---:|:--------:|
|0    |2023-01-01|
|1    |2023-01-02|
|2    |2023-01-03|
|3    |2023-01-04|
|4    |2023-01-05|

## Your function should create the following DataFrame:

|     |Date      |Weekday  |
|:---:|:--------:|:-------:|
|0    |2023-01-01|Sunday   |  
|1    |2023-01-02|Monday   |
|2    |2023-01-03|Tuesday  |
|3    |2023-01-04|Wednesday|
|4    |2023-01-05|Thursday |

## The function should return the modified DataFrame.
---

## Answer :

### Here I am Assuming that the date is given in string format inside DataFrame

In [80]:
def return_weekdays(df):

    # Below changes String Date to datetime format
    df['Date']=pd.to_datetime(df['Date'])

    # below returns weekdays returns weekday
    df['Weekday'] = df['Date'].dt.day_name()
    return df

In [81]:
df = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [82]:
df_new = return_weekdays(df)
df_new

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Question 12 :Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
---

## Answer:

In [84]:
def select_january_rows(df):
    # Convert 'Date' column to pandas datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select rows with dates between '2023-01-01' and '2023-01-31'
    january_rows = df[df['Date'].between('2023-01-01', '2023-01-31')]
    
    return january_rows

In [90]:
df = pd.DataFrame({'Date':pd.date_range(start='12/1/2022',end='3/1/2023',freq='D')})
df

         Date
0  2022-12-01
1  2022-12-02
2  2022-12-03
3  2022-12-04
4  2022-12-05
..        ...
86 2023-02-25
87 2023-02-26
88 2023-02-27
89 2023-02-28
90 2023-03-01

[91 rows x 1 columns]

In [91]:
select_january_rows(df)

         Date
31 2023-01-01
32 2023-01-02
33 2023-01-03
34 2023-01-04
35 2023-01-05
36 2023-01-06
37 2023-01-07
38 2023-01-08
39 2023-01-09
40 2023-01-10
41 2023-01-11
42 2023-01-12
43 2023-01-13
44 2023-01-14
45 2023-01-15
46 2023-01-16
47 2023-01-17
48 2023-01-18
49 2023-01-19
50 2023-01-20
51 2023-01-21
52 2023-01-22
53 2023-01-23
54 2023-01-24
55 2023-01-25
56 2023-01-26
57 2023-01-27
58 2023-01-28
59 2023-01-29
60 2023-01-30
61 2023-01-31

## Question 13: To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
---

## Answer : 

### The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. You can import pandas using the following statement:

In [92]:
import pandas as pd

### This statement imports the pandas library and gives it an alias pd, which is a common convention in the Python community. With this import statement, you can then use all the basic functions of pandas such as creating a DataFrame, manipulating data within a DataFrame, and performing various types of analyses and transformations on the data.